<template>
    <div class="glasses-container">
        <EyeGlass :glass="glass" :key="glass.id" v-for="glass in glasses" />
    </div>
</template>

<script>
import EyeGlass from './EyeGlass'

export default {
    name : 'Glasses',
    components: {
        EyeGlass
    },
    
    props: {
        glasses: Array
    },
}
</script>

<style>







.glasses-container {
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    grid-gap: 1px;
    padding: 0px;
    border-left: 1px solid black;
    border-top: none;
    width: calc(100% - 4px);
}

@media (max-width: 1300px) {
    .glasses-container {
        grid-template-columns: 50% 50%;
                    width: calc(100% - 3px);
    }

  
}

@media (max-width: 700px) {
    .glasses-container {
        grid-template-columns: auto;
            width: calc(100% - 2px);
    }
}
</style>