<template>
    <div class="glass">
        <div class="glass-content">
            <div class="glass-name">{{ glass.name }} 
            <span class="variant-name">{{ glass.glass_variants[0].frame_variant.colour.name }}</span>
            </div>
            <div class="glass-body" :style="{
            'background-image': `url(${glass.glass_variants[0].media[0].url})`}">

            </div>
        </div>
    </div>
</template>

<script>

export default {
    name : 'EyeGlass',
    props: {
        glass: Object
    }
}

</script>

<style>










.glass {
        background-color: rgba(255, 255, 255, 0.8);
        text-align: center;
        font-size: 30px;
            border-bottom: 1px solid black;
                border-right: 1px solid black;
                width: 100%;
                    height: 100%;
                    display: flex;
}

.glass-content {
    position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
        background: #f6f6f4
}

.glass-name {
            display: flex;
            width: 100%;
            top: 20px;
            position: absolute;
            height: 40px;
            z-index: 5;
            justify-content: center;
            align-items: center;
            font-style: normal;
            font-size: 20px;
            line-height: 24px;
            letter-spacing: .02em;
            text-transform: uppercase;
            font-weight: bold;
        
}

.variant-name {
font-weight: 100;
margin-left: 10px;
}

.glass-body {
    height: 400px;
        width: 100%;
        background-position: center;
            background-size: cover;
}

@media only screen and (max-width: 1200px) {
.glass-body {
    height:350px;
}
}

@media only screen and (max-width: 600px) {
    .glass-body {
        height: 250px;
    }
}


</style>