<template>
    <header class="header">
        <SideBar @show-sidebar="showSideBar()" @hide-sidebar="hideSideBar()" @mouseover="showSideBar()"
            @mouseleave="hideSideBar()" :toggleSideBar="toggleSidebar" />
        <a @mouseover="showSideBar()" @mouseleave="hideSideBar()" class="menu-button">MENU</a>
        <div class="title">
            <h1><a href="/">Bloobloom</a></h1>
        </div>
    </header>
</template>

<script>
import SideBar from './SideBar'

export default {
    name: 'Header',
    components: {
        SideBar
    },
    data() {
        return {
            toggleSidebar: false
        }
    },
    props: {
        title: String
    },
    methods: {
        showSideBar() {
            this.toggleSidebar = true
        },
        hideSideBar() {
            this.toggleSidebar = false
        }
    },
}
</script>

<style scoped>












header {
    z-index: 10010;
    top: 0;
    width: 100%;
    height: 50px;
    border: 1px solid #000;
    background-color: #fff;
    box-sizing: border-box;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.menu-button {
            cursor: pointer;
            text-align: center;
            border-right: 1px solid #000;
            width: 160px;
            color: #000 !important;
            font-family: "Acumin Pro";
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 14px;
            letter-spacing: 2px;
            height: calc(100% + 1px);
            align-items: center;
            display: flex;
            justify-content: center;
            position: absolute;
            left: 0;
}
@media (max-width: 700px) {
    .menu-button {
        width: 100px;
    }

        header {
            height: 40px;
            font-size: 12px;
        }
}


.menu-button:hover {
    text-decoration: underline;
}

.title {
            display: flex;
            justify-content: center;
            width: calc(100% + 160px);
}

.title h1 a {
            text-decoration: none;
            color: #000;
}


</style>