<template>
    <div class="sidebar-container">
        <div :class="[toggleSideBar ? 'sidebar-open' : 'sidebar-closed', 'sidebar']">
            <div @mouseover="toggleSubItems(item.subMenu.length > 0,item)" @mouseleave="toggleSubItems(false)"
                v-for="item in items" :key="item.name" class="sidebar-item">
                <span>{{ item.name }}</span>

            </div>

        </div>
        <div @mouseover="toggleSubItems(true,activeMenu)" @mouseleave="toggleSubItems(false)"
            :class="[showSubItems ? 'sub-sidebar-open' : 'sub-sidebar-closed', 'sidebar sub-sidebar']">
            <a :href="item.url" v-for="item in activeMenu.subMenu" :key="item.name" class="sidebar-item">
                <span> {{ item.name }} </span>
            </a>
        </div>
    </div>

</template>

<script>

export default {
    name: "SideBar",
    components: {
        
    },

    props: {
        toggleSideBar: Boolean
    },

    data() {
     return {   items :[
            {
                 name: "Spectacles",
                 subMenu: [
                 {
                     name: "Women",
                     url: '/'
                 },
                 {
                     name: "Men",
                     url: "/spectacles-men"
                 }
             ], 
            },
            {
                name: "Sunglasses",
                subMenu: [
                    {
                        name: "Women",
                        url: "/sunglasses-women"
                    },
                    {
                        name: "Men",
                        url: "/sunglasses-men"

                    }
                ],
            },
            {
                name: "Home try on",
                subMenu:[]

            },
            {
                name: "Free eye test",
                subMenu: [],

            }
        ],
         showSubItems: false,
         activeMenu: [],

     }
    },

    methods: {
        toggleSubItems(toggle, item) {
            this.showSubItems = toggle;
            if(item) {
                this.activeMenu = item;
            }
           
        }
    },

    created() {

    }

};
</script>

<style>







.sidebar {
    position: fixed;
    top: 50px;
    width: 240px;
    height: calc(100% - 50px);
    background-color: #fff;
    box-sizing: border-box;
    border-right: 1px solid #000;
    border-left: 1px solid #000;
    z-index: 10010;
    overflow-y: auto;
    overflow-x: hidden;
    transition: all 0.4s ease;
}
.sidebar-closed {
    left: -240px;
}

.sidebar-open {
    left: 0;
}

.sidebar-item {
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #000;
    background-color: #fff;
    box-sizing: border-box;
    cursor: pointer;
    text-decoration: none;
    color: #000;
}

.sidebar-item:hover {
    background-color: #000;
    color: #fff;
}

.sidebar-item span {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-left: 18px;
}


.sub-sidebar {
    z-index: 0;
    border-left: none;
    transition: all 0.4s ease;
}

.sub-sidebar-open {
    z-index: 10010;
    left: 238px;
    border-right: 1px solid #000;
    border-left: 1px solid #000;
}
.sub-sidebar-closed {
    left: -240px;
}
</style>