<template>
  <div class="container">
    <Header @show-sidebar="showSideBar" @hide-sidebar="hideSideBar" title="Blooblom" />

    <div class="filters-container">
      <div class="filters-header">
        <h2>{{ collection.name }}</h2>
        <a @click="showFilters()">Filters</a>
      </div>
      <div :class="[toggleFilters ? 'filters-content-open' : 'filters-content-closed', 'filters-content']">
        <div class="column">
          <p class="filter-title"> Color </p>
          <div class="filter-container">
            <div class="color-item" v-for="color in colors" :key="color.name" @click="filter('color',color.name)">
              <span
                :style="{
                'background-image': `url(${color.value})`, 'outline' : this.selectedFilters.find(el => el.value === color.name) ? '1px solid #000' : ''}"></span>
              <span>{{ color.name }}</span>
            </div>
          </div>
        </div>
        <div class="column">
          <p class="filter-title"> Shape </p>
          <div class="filter-container">
            <div :style="{
            'text-decoration': `${this.selectedFilters.find(el => el.value === shape.name) ? 'underline' : ''}`}"
              class="share-item" v-for="shape in shapes" :key="shape.name" @click="filter('shape', shape.name)">
              {{ shape.name }}
            </div>
          </div>
        </div>
        <div class="filters-indicator">
          <div class="selected-filters">
            <div :key="item.name" v-for="item in selectedFilters"><span>{{ item.value }}</span> <span @click="removeFilter(item)">X</span> </div>
          </div>
          <span class="filters-results">{{ totalCount }} Results found</span>
          <span class="clear-filters" @click="clearFilters()"> {{ selectedFilters.length > 0 ? 'Clear filters' : '' }}
          </span>
        </div>
      </div>
    </div>

    <EyeGlasses :glasses="glasses" />

  </div>
</template>  

<script>
import Header from './components/Header.vue'
import EyeGlasses from './components/EyeGlasses.vue';

export default {
  name: "App",
  components: {
    Header,
    EyeGlasses
},
data() {
  return {
    collection: {},
    toggleFilters: false,
    glasses: [],
    offset: 1,
    totalCount: 0,
    colors: [
      {
        name: "Black",
        value: "https://d32y5z2afvomc1.cloudfront.net/assets/filters_black_01.png"
      },
      {
        name: "Tortoise",
        value: "https://d32y5z2afvomc1.cloudfront.net/assets/filters_tortoise_02.png"
      },
      {
        name: "Coloured",
        value: "https://d32y5z2afvomc1.cloudfront.net/assets/filters_coloured_03.png"
      },
      {
        name: "Crystal",
        value: "https://d32y5z2afvomc1.cloudfront.net/assets/filters_crystal_04.png"
      },
      {
        name: "Dark",
        value: "https://d32y5z2afvomc1.cloudfront.net/assets/filters_dark_05.png"
      },
      {
        name: "Bright",
        value: "https://d32y5z2afvomc1.cloudfront.net/assets/filters_bright_06.png"
      }
    ],
    shapes: [
      {
        name: "Round",
      },
      {
        name: "Square",
      },
      {
        name: "Rectangle",
      },
      {
        name: "Cat-Eye",
      },
    ],
    selectedFilters: [
    ],
  }
},

  methods : {
    showFilters() {
      this.toggleFilters = !this.toggleFilters;
    },

   async getGlasses() { 
     this.offset = 1;
     const res = await fetch(`https://staging-api.bloobloom.com/user/v1/sales_channels/website/collections/${this.collection.tag}/glasses?sort[type]=collection_relations_position&sort[order]=asc&filters[lens_variant_prescriptions][]=fashion&filters[lens_variant_types][]=classic&page[limit]=12&page[number]=${this.offset}${this.getColorQuery()}${this.getShapeQuery()}&filters[frame_variant_home_trial_available]=false`);
     const data = await res.json();
     this.totalCount = data.meta.total_count;
     this.glasses = data.glasses;
    },

    loadMoreGlasses() {
      this.offset++;
      fetch(`https://staging-api.bloobloom.com/user/v1/sales_channels/website/collections/${this.collection.tag}/glasses?sort[type]=collection_relations_position&sort[order]=asc&filters[lens_variant_prescriptions][]=fashion&filters[lens_variant_types][]=classic&page[limit]=12&page[number]=${this.offset}${this.getColorQuery()}${this.getShapeQuery()}&filters[frame_variant_home_trial_available]=false`)
     .then(res => res.json())
     .then(data => {
       this.glasses = this.glasses.concat(data.glasses);
     })
    },

    async filter (type,value) {
        if(this.selectedFilters.find(el => el.type === type && el.value === value)) {
          for (var i = 0; i < this.selectedFilters.length; i++) {
            if (this.selectedFilters[i].type == type && this.selectedFilters[i].value == value) {
              this.selectedFilters.splice(i, 1);
              break;
            }
          }
        } else {
          this.selectedFilters.push({
            value: value,
            type: type
          });
        }
       await this.getGlasses();
    },

    getColorQuery() {
      let query = '';
      for (var i = 0; i < this.selectedFilters.length; i++) {
        if (this.selectedFilters[i].type == 'color') {
          query += `&filters[glass_variant_frame_variant_colour_tag_configuration_names][]=${this.selectedFilters[i].value.toLowerCase()}`;
        }
      }
      return query;
    },
    getShapeQuery() {
      let query = '';
      for (var i = 0; i < this.selectedFilters.length; i++) {
        if (this.selectedFilters[i].type == 'shape') {
          query += `&filters[glass_variant_frame_variant_frame_tag_configuration_names][]=${this.selectedFilters[i].value.toLowerCase()}`;
        }
      }
      return query;
    },
   async removeFilter (item) {
      for (var i = 0; i < this.selectedFilters.length; i++) {
        if (this.selectedFilters[i].type == item.type && this.selectedFilters[i].value == item.value) {
          this.selectedFilters.splice(i, 1);
          break;
        }
      }
     await this.getGlasses();
    },
    async clearFilters() {
      this.selectedFilters = [];
      await this.getGlasses();
    },
    
  },
  mounted() {
    window.onscroll = () => {
      let bottomOfWindow = document.documentElement.scrollTop + window.innerHeight === document.documentElement.offsetHeight;
      if (bottomOfWindow) {
       this.loadMoreGlasses();
      }
    }

    window.ontouchend = () => {
        this.loadMoreGlasses();
      
    }
  },
      async created() {
       switch (window.location.pathname) {
        case '/':
          this.collection = {
            name: 'SPECTACLES WOMEN',
            tag: 'spectacles-women'
          };
          break;
         case '/spectacles-men':
           this.collection = {
             name: 'SPECTACLES MEN',
             tag: 'spectacles-men'
           };
          break;
         case '/sunglasses-women':
           this.collection = {
             name: 'SUNGLASSES WOMEN',
             tag: 'sunglasses-women'
           };
          break;
         case '/sunglasses-men':
           this.collection = {
             name: 'SUNGLASSES MEN',
             tag: 'sunglasses-men'
           };
           break;
          default:
           this.collection = {
             name: 'Spectacles Women',
             tag: 'spectacles_women'
           };
          break;
       }
       await this.getGlasses();
  },
};
</script>

<style>

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  -webkit-user-drag: none;
  width: 100%;
}
.filters-container {
        width: 100%;
}

.filters-header {
  display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    border-right: 1px solid #000;
      border-left: 1px solid #000;
}

.filters-header h2 {
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;    
}

.filters-header a {
        line-height: 14px;
          letter-spacing: 1px;
          height: 60px;
          align-items: center;
          display: flex;
          justify-content: center;
          position: absolute;
          right: 0;
          cursor: pointer;
            text-align: center;
            border-left: 1px solid #000;
            width: 160px;
}

.filters-content {
    border: 1px solid #000;
    transition: all 0.6s ease;
    overflow: hidden;
    display: flex;
      width: 100%;
      align-items: center;
      justify-content: center;
    flex-direction: row;
      flex-wrap: wrap;
}

.filters-content-open {
  max-height: 400px;
}


.filters-content-closed {
  max-height: 0;
  border-bottom: none;
}
.filter-title {
  margin: 0;
        display: flex;
        width: 100%;
        height: 60px;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid #000;
        font-family: "Acumin Pro";
        font-style: normal;
        font-weight: 700;
        font-size: 15px;
        line-height: 18px;
        text-align: center;
        letter-spacing: .02em;
        text-transform: uppercase;
        color: #000;
      
}
.column {
      display: flex;
        flex-direction: column;
        width: 50%;
        border-right: 1px solid #000;
        text-align: center;
        flex: 1 1 0;
}

.filter-container {
width: 100%;
  height: 100px;
  justify-content: space-evenly;
  font-family: "Acumin Pro";
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 18px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: capitalize;
  flex-wrap: wrap;
}

.filter-item {
        width: 20px;
        height: 20px;
        border: 1px solid #000;
        margin: 5px;
        cursor: pointer;
}

.color-item {
  display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
}

.color-item span:first-of-type {
height: 15px;
  width: 15px;
  margin-right: 5px;
  border-radius: 10px;
  border: 1px solid white;
}

.color-item:hover span:first-of-type{
  outline: 1px solid #000;
}

.filters-indicator {
      flex: 100%;
        order: 3;
        min-height: 60px;
        border-top: 1px solid #000;
        display: flex;
          justify-content: space-around;
          align-items: center;
          height: auto;
}

.selected-filters {
  width: calc(50% - 102px);
}

.clear-filters {
  display: flex;
  width: calc(50% - 102px);
  align-items: center;
  cursor: pointer;
  justify-content: flex-end;}

  .color-indicator:hover {
    border: 1px solid #000;
  }

  .share-item {
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
  }
  .share-item:hover {
    text-decoration: underline; 
  }

  .selected-filters {
    display: flex;
        font-size: 12px;
        flex-wrap: wrap;
  }
  .selected-filters div {
    display: flex;
    margin-right: 20px;
    height: 25px;
    justify-content: center;
    align-items: center;

    }
  .selected-filters span:first-of-type{
    display: flex;
    text-transform: uppercase;
    margin-right: 10px;
  }

  .selected-filters span:nth-child(2) {
    cursor: pointer;
  }

    @media (max-width: 1000px) {
      .filter-container {
          display: grid;
          grid-template-columns: 25% 25% 25% 25%;
          width: 100%;
          padding: 20px;
        }
  
    }

  @media (max-width: 700px) {
    .filters-header {
      font-size: 12px;
      height: 50px;
    }
        .filters-header a {
          font-size: 14px;
          height: 50px;
          width: 80px;
        }

    .filter-container {
       display: grid;
         grid-template-columns: 50% 50%;
        width: 100%;
       }
  }
</style>
